<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>test</title>


</head>
<body>
	<style type="text/css">
table.projectsBackgroundTable {
	width: 95%;
	height: 100%;
	border-radius: 15px;
}

#searchField {
	margin-left: 0 auto;
	float: right;
}

div.v-table-header div {
	width: auto;
}

div.v-table-header div table {
	width: auto;
}

div.v-table-header div table .v-table-resizer {
	width: auto;
}

div.v-table-header div table .v-table-caption-container {
	width: auto;
}
</style>

	<table class="projectsBackgroundTable" width="95%" align="center"
		cellspacing="10" style="padding: 20px; background: #cc0033 repeat-x">
		<tr>
			<td>
				<div id="searchField" location="searchField"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="projectsTable" location="projectsTable"></div>
			</td>
		</tr>
	</table>


	<br>

	<br>

</body>
</html>