@import url(../reindeer/legacy-styles.css);

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

.my-style {
  @include border-radius(4px);
}

.v-splitpanel-first-container {
	width: 150px;
}

.v-app {
	width: 100%;
	background: whiteSmoke;
}

.v-splitpanel-first-container {
	background: #ddd;
	/*background-image: -webkit-linear-gradient(left, #ffffff 60%,#ddd 100%);*/
}

.v-tabsheet-tabsheetpanel {
	background: #DDD;
}

.embedded-panel {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	background: #F8F8F8;
	padding-top: 18px;
	padding-bottom: 8px;
	margin: 5px;	
	box-shadow: 1px 1px 3px #000000;
	
}

.island-panel {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	background: #F8F8F8;
	margin: 5px;	
	box-shadow: 1px 1px 3px RGBA(0,0,0,0.15);
	
	.v-panel-caption-light {
		padding: 8px;
	}
	
	.v-scrollable {
		overflow: hidden;
	}

	.v-layout.v-margin-left {
		padding-left: 8px;
	}
	
	.v-layout.v-margin-top {
		padding-top: 8px;
	}
	
	.v-layout.v-margin-right {
		padding-right: 8px;
	}

	.v-panel-content-novscroll {
    	overflow-y: hidden !important;
    	overflow-x: hidden !important;
	}
	
}

