@import url(../reindeer/legacy-styles.css);

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin styled-nativebutton {
	.v-nativebutton {
		padding-left: 9px;
		padding-right: 9px;
		padding-bottom: 3px;
		border: 1px solid #AEAEAE;
		border-bottom-color: #959595;
		@include border-radius(4px);
		line-height: 17px;
		font-family: "Lucida Grande",Tahoma,Verdana,Helvetical,sans-serif;
		background: transparent;
	
		&:hover {
			background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#C8C8C8));
		}
		
		&:active {
			-moz-box-shadow:inset 3px 3px 9px #3b3a3b;
			-webkit-box-shadow:inset 3px 3px 9px #3b3a3b;
			box-shadow:inset 3px 3px 9px #3b3a3b;
		}
	}
	
	.v-nativebutton-caption {
		color: #707070;
		font-weight: bold;
	}
}

.v-splitpanel-first-container {
	width: 150px;
}

.v-app {
	width: 100%;
	background: whiteSmoke;
}

.v-splitpanel-first-container {
	background: #EEE;
	/*background-image: -webkit-linear-gradient(left, #ffffff 60%,#ddd 100%);*/
}

.v-tabsheet-tabsheetpanel {
	background: #FFFFFF;
}

.v-tabsheet-tabsheetpanel  {
	background-image: url(textures/dark_fish_skin.png);
	background-repeat: repeat;
	position: absolute;
}

.embedded-panel {
	
	.v-panel-caption-light {
		margin: 8px;
		border-bottom: 1px solid black;
	}
	.v-panel-light {
		border:solid 1px #000000;
	}
	
	.v-scrollable {
		overflow: hidden;
	}

	.v-layout.v-margin-left {
		padding-left: 8px;
	}
	
	.v-layout.v-margin-top {
		padding-top: 8px;
	}
	
	.v-layout.v-margin-right {
		padding-right: 8px;
	}

	.v-panel-content-novscroll {
    	overflow-y: hidden !important;
    	overflow-x: hidden !important;
	}
	
	@include styled-nativebutton;
	
}

.sidebar-panel {

	padding-left: 9px;
	padding-right: 9px;

	.v-panel-caption-light {
		margin-bottom: 8px;
		margin-top: 8px;
		border-bottom: 1px solid black;
	}
	.v-panel-light {
		border:solid 1px #000000;
	}
	
	.v-scrollable {
		overflow: hidden;
	}

	.v-layout.v-margin-left {
		padding-left: 8px;
	}
	
	.v-layout.v-margin-top {
		padding-top: 8px;
	}
	
	.v-layout.v-margin-right {
		padding-right: 8px;
	}

	.v-panel-content-novscroll {
    	overflow-y: hidden !important;
    	overflow-x: hidden !important;
	}
	
	@include styled-nativebutton;

}

.island-panel {
	@include border-radius(4px);
	@include styled-nativebutton;
	
	background: #F8F8F8;
	margin: 5px;	
	box-shadow: 1px 1px 3px RGBA(0,0,0,0.15);
	
	.v-panel-caption-light {
		padding: 8px;
	}
	
	.v-scrollable {
		overflow: hidden;
	}

	.v-layout.v-margin-left {
		padding-left: 8px;
	}
	
	.v-layout.v-margin-top {
		padding-top: 8px;
	}
	
	.v-layout.v-margin-right {
		padding-right: 8px;
	}
	
	.v-layout.v-margin-bottom {
		padding-bottom: 18px;
	}

	.v-panel-content-novscroll {
    	overflow-y: hidden !important;
    	overflow-x: hidden !important;
	}
	
}

	
.updates-panel {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: gainsboro;
}