@import url(../reindeer/legacy-styles.css);

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

.v-splitpanel-first-container {
	width: 150px;
}

.v-app {
	width: 100%;
	background: whiteSmoke;
}

.v-splitpanel-first-container {
	background: #EEE;
	/*background-image: -webkit-linear-gradient(left, #ffffff 60%,#ddd 100%);*/
}

.v-tabsheet-tabsheetpanel {
	background: #FFFFFF;
}

.embedded-panel {
	
	.v-panel-caption-light {
		margin: 8px;
		border-bottom: 1px solid black;
	}
	.v-panel-light {
		border:solid 1px #000000;
	}
	
	.v-scrollable {
		overflow: hidden;
	}

	.v-layout.v-margin-left {
		padding-left: 8px;
	}
	
	.v-layout.v-margin-top {
		padding-top: 8px;
	}
	
	.v-layout.v-margin-right {
		padding-right: 8px;
	}

	.v-panel-content-novscroll {
    	overflow-y: hidden !important;
    	overflow-x: hidden !important;
	}
	
}

.sidebar-panel {

	padding-left: 9px;
	padding-right: 9px;

	.v-panel-caption-light {
		margin-bottom: 8px;
		margin-top: 8px;
		border-bottom: 1px solid black;
	}
	.v-panel-light {
		border:solid 1px #000000;
	}
	
	.v-scrollable {
		overflow: hidden;
	}

	.v-layout.v-margin-left {
		padding-left: 8px;
	}
	
	.v-layout.v-margin-top {
		padding-top: 8px;
	}
	
	.v-layout.v-margin-right {
		padding-right: 8px;
	}

	.v-panel-content-novscroll {
    	overflow-y: hidden !important;
    	overflow-x: hidden !important;
	}

}

.island-panel {
	@include border-radius(4px);
	
	background: #F8F8F8;
	margin: 5px;	
	box-shadow: 1px 1px 3px RGBA(0,0,0,0.15);
	
	.v-panel-caption-light {
		padding: 8px;
	}
	
	.v-scrollable {
		overflow: hidden;
	}

	.v-layout.v-margin-left {
		padding-left: 8px;
	}
	
	.v-layout.v-margin-top {
		padding-top: 8px;
	}
	
	.v-layout.v-margin-right {
		padding-right: 8px;
	}

	.v-panel-content-novscroll {
    	overflow-y: hidden !important;
    	overflow-x: hidden !important;
	}
	
}

.updates-panel {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: gainsboro;
}

.project-layout {
	background-image: url(textures/dark_fish_skin.png);
	background-repeat: repeat;
	position: absolute;
}
