<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>test</title>


</head>
<body>
	<style type="text/css">
table.projectsBackgroundTable {
	width: 95%;
	height: 100%;
	border-radius: 15px;
}

#newProjectButton {
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

BODY {
	font-family: interstate-bold;
}

h1 {
	float: left;
}

div.v-table-header div {
	width: auto;
}

div.v-table-header div table {
	width: auto;
}

div.v-table-header div table .v-table-resizer {
	width: auto;
}

div.v-table-header div table .v-table-caption-container {
	width: auto;
}
</style>

	<table class="projectsBackgroundTable" width="95%" align="center"
		cellspacing="10" style="padding: 20px; background: #cc0033 repeat-x">
		<tr>
			<td>
				<h1 style="color: #FFFFFF">Create a</h1>
				<div id="newProjectButton" location="newProjectButton"></div>
				<h1 style="color: #FFFFFF"> or...</h1>
			</td>
		</tr>
	</table>


	<br>

	<br>

</body>
</html>